<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js チュートリアル</title>
</head>
<body>

  <h3>宣言的レンダリング</h3>
  <div id="app1">
    <!-- 初回のみ変数の値をレンダリングして以後の変更を再描画しないようにできる -->
    <span v-once>元の文言: {{ message }}</span><br>

    <!-- JS上では app.message の値を変更するだけでここの中身がリアクティブに書き換わる -->
    <span>変更可能な文言: {{ message }}</span>
  </div>
  <button onclick="app1.message='HTMLのDOMに一切触らずにメッセージが変更されたよ';">リアクティブに文言変更してみるボタン</button>

  <hr>

  <div id="app2">
    <!-- message の中身を title 属性にバインドする -->
    <!-- Vue.js の属性は v- で始まる規則になっている -->
    <span v-bind:title="message">
      マウスホバーするとロードした時刻が出てくるよ
    </span>
  </div>

  <hr>

  <h3>条件分岐</h3>
  <div id="app3">
    <!-- DOMの構造にデータをバインドする例.1 -->
    <p>
      <!-- 条件を満たした要素だけが実際のDOMに含められる -->
      <!-- 表示・非表示の切り替えは論理値の切り替え一つで実現できちゃう -->
      <span id="app3-visible" v-if="visible">見えてますかー？</span>
      <!-- v-else-if もある -->
      <span id="app3-hidden" v-else>見えてませーん</span>
    </p>

    <!-- 条件を満たしていなくても実際のDOMに含めた上で、満たしたときだけ表示されるようにするには v-show を使う -->
    <p>
      <span id="app3-show" v-show="visible">ずっとここにいるよ</span>
    </p>
  </div>
  <button onclick="app3.visible=false;">見えなくする</button>
  <button onclick="app3.visible=true;">見えるようにする</button>

  <hr>

  <h3>ループ</h3>
  <div id="app4">
    <!-- 指定回数だけ繰り返す -->
    <span v-for="n in 10">{{ n }}, </span>

    <!-- DOMの構造にデータをバインドする例.2 -->
    <!-- JS配列の要素分だけHTML要素を生成してみる -->
    <ol>
      <!-- Dictionary -->
      <li v-for="todo in todoTexts">
        {{ todo.text }}
      </li>
    </ol>
    <!-- 要素が後から追加されてもHTML要素にもそれが反映される -->
    <button onclick="app4.todoTexts.push({ text: '寝る' });">JS辞書に一つ追加してみる</button>

    <ol>
      <!-- Array -->
      <li v-for="todo in todos">
        {{ todo }}
      </li>
    </ol>
    <!-- 要素が後から削除されてもHTML要素にもそれが反映される -->
    <button onclick="app4.todos.pop();">JS配列から一つ削除してみる</button>
  </div>

  <hr>

  <h3>ユーザー入力の制御</h3>
  <div id="app5">
    <p>{{ message }}</p>

    <!-- イベントリスナー関数のバインドも v-on 属性で簡単にできちゃう -->
    <!-- :click の部分は v-on ディレクティブの引数で、何のイベントを捕捉するのかを指定できるようになっている -->
    <button v-on:click="reverseMessage">メッセージをひっくり返す</button>
  </div>

  <hr>

  <div id="app6">
    <!-- 双方向バインディングの例 -->
    <!-- テキストボックスの値が変更されたらJS上の値も変更される -->
    <!-- JS上の値が変更されたらテキストボックスの値も変更される -->
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  <button onclick="app6.message='Hello Vue!';">HTMLの文言をリセット</button>

  <hr>

  <h3>カスタムコンポーネント</h3>
  <div id="app7">
    <ol>
      <!-- 配列ベースで動的に要素が増減するカスタムコンポーネントを作ってみる -->
      <todo-item v-for="item in todos" v-bind:todo="item" v-bind:key="item.id" />
    </ol>
  </div>
  <button onclick="app7.todos.pop();">JS辞書から一つ削除してみる</button>
  <button onclick="app7.todos.push({ id: -1, text: '働く' });">JS辞書に一つ追加してみる</button>

  <hr>

  <h3>生のHTML</h3>
  <div id="syntax1">
    <!-- {{...}} の中身はHTMLエスケープされた形で出力される -->
    <p>二重中括弧で書くと ... {{ redHtml }}</p>

    <!-- v-html 属性に埋め込む形で生のHTMLを吐き出せる -->
    <!-- XSSを防ぐため、ユーザーによってもたらされた任意の文字列を使ってHTML展開することは推奨されない -->
    <p>v-html ディレクティブで書くと ... <span v-html="redHtml"></span></p>
  </div>

  <hr>

  <h3>二重中括弧の中で JavaScript式 を書いてみる</h3>
  <div id="syntax2">
    <p>{{ number + 1 }}</p>
    <p>{{ ok ? 'YES' : 'NO' }}</p>
    <p>{{ message.split('').reverse().join('') }}</p>

    <!-- 文はNG -->
    <!-- {{ var a = 1 }} -->

    <!-- 制御構文もNG -->
    <!-- {{ if (ok) { return message } }} -->
  </div>

  <hr>

  <h3>ディレクティブ省略記法</h3>
  <div id="syntax3">
    <!-- 以下2つの書き方は同じ意味を成すし、HTML上正しい構文でありパースも問題なく行われる -->
    <a v-bind:href="url">リンク先</a><br>
    <a :href="url">リンク先 (省略記法)</a><br>

    <!-- 以下2つの書き方は同じ意味を成すし、HTML上正しい構文でありパースも問題なく行われる -->
    <button v-on:click="doSomething">ボタン</button><br>
    <button @click="doSomething">ボタン (省略記法)</button><br>
  </div>

  <hr>

  <h3>算出プロパティ - getter</h3>
  <div id="computedprop1">
    <h4>バインドしたデータ</h4>
    <p>{{ message }}</p>
    <h4>関数を通して値を取得する算出プロパティ</h4>
    <p>{{ reversedMessage }}</p>
  </div>

  <h4>算出プロパティ - setter</h4>
  <div id="computedprop2">
    <p>
      姓={{ lastName }}<br>
      名={{ firstName }}<br>
    </p>
    <p>フルネーム: {{ fullName }}</p>
  </div>

  <hr>

  <h3>HTMLクラスバインド</h3>
  <style>
    .active {
      font-weight: bold;
    }
    .text-danger {
      color: red;
    }
  </style>
  <div id="classbind1">
    <p v-bind:class="{ active: isActive }">isActive == true の場合に限りクラス [active] が付与されます</p>
  </div>
  <div id="classbind2">
    <p v-bind:class="classes">連想配列 classes のうち true になっているクラスがまとめて付与されます</p>
  </div>

  <hr>

  <h3>HTMLインラインスタイルバインド</h3>
  <div id="stylebind1">
    <p v-bind:style="styles">連想配列 styles がそのままインラインスタイルを表します</p>
  </div>

  <hr>

  <h3>インラインメソッドハンドラー</h3>
  <div id="eventHandling1">
    <!-- イベントハンドラーの関数指定のついでにインラインで引数を指定できちゃう -->
    <button v-on:click="say('YES')">YES</button>
    <button v-on:click="say('NO')">NO</button>

    <!-- $event を指定することでネイティブなDOMイベント (よくある e 引数) を渡せる -->
    <button v-on:click="say('Native', $event)">ネイティブなDOMイベントを渡してみる</button>
  </div>

  <hr>

  <h3>イベント修飾子</h3>
  <div id="eventHandling2">
    <form action="/undefined-form">
      <a href="/undefined-link">
        <button type="submit" v-on:click.stop.prevent>押してもページ遷移しないSubmitボタン</button>
      </a>
    </form>
  </div>

  <h3>キーとマウスの修飾子</h3>
  <div id="eventHandling3">
    <p>Enterキーでフォームが送信されるイメージ</p>
    <input type="text" v-on:keyup.enter="submit">

    <p>Shift+Alt+Ctrlキー押下状態でEnterキーを押してフォームが送信されるイメージ</p>
    <input type="text" v-on:keyup.enter.shift.alt.ctrl.exact="submit">

    <a href="#" v-on:click.right="submit">右クリックでフォームが送信されるイメージ</a>
  </div>

  <hr>

  <h3>フォーム入力をバインドしてみる</h3>
  <div id="formbind1">
    <!-- .trim を付けることで自動的に両端の余計なスペースをカットしてくれる -->
    <input type="text" v-model.trim="message">
    <p>Message is: {{ message }}</p>
  </div>
  <div id="formbind2">
    <textarea v-model="message"></textarea>
    <p>Message is: {{ message }}</p>
  </div>
  <div id="formbind3">
    <!-- チェックボックスは bool 値となる -->
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
  </div>
  <div id="formbind4">
    <!-- 複数のチェックボックスに対して同じ名前でバインドした場合は順不同な配列になる -->
    <input type="checkbox" id="taro" v-model="checks" value="太郎">
    <label for="taro">太郎</label>
    <input type="checkbox" id="jiro" v-model="checks" value="次郎">
    <label for="jiro">次郎</label>
    <input type="checkbox" id="saburo" v-model="checks" value="三郎">
    <label for="saburo">三郎</label>
    <br>
    <span>Checked: {{ checks }}</span>
  </div>
  <div id="formbind5">
    <!-- チェックボックスでも true/false の値を直接指定することでどちらかの値を取るようになる -->
    <input type="checkbox" id="checkbox-with-value" v-model="checkedValue" true-value="yes" false-value="no">
    <label for="checkbox-with-value">{{ checkedValue }}</label>
  </div>
  <div id="formbind6">
    <!-- ここでセレクトボックスを複数選択可能した場合、バインドした変数が配列になる -->
    <select v-model="selected">
      <option disabled value="">選択して下さい...</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
  </div>



  <!-- HTML構造をすべてロードした後に Vue.js とそれを使ったコードをロードする -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="01_introduction.js"></script>
  <script src="02_vue-instance.js"></script>
  <script src="03_template-syntax.js"></script>
  <script src="04_computed-property.js"></script>
  <script src="05_class-and-style-binding.js"></script>
  <script src="06_event-handling.js"></script>
  <script src="07_form.js"></script>
</body>
</html>
